.intro {
  .slider {
    .slider-img-link {
      outline: none;
      img {
        border-radius: 5px;
      }
    }
  }
  .calculator {
    background-color: $secondary-color;
    border-radius: 10px;
    padding: 25px 15px;
    .calculator-title {
      @include flexy-box-between();
      margin-bottom: 25px;
      h4 {
        @include text(22px, 600, $text-color);
      }
      .btn {
        color: $third-text-color;
        font-size: 14px;
        margin-bottom: 0.5rem;
        &:focus {
          outline: none;
          box-shadow: none;
        }
      }
    }
    .form-control {
      @include text(12px, 400, $form-color);
      border-radius: 5px;
      height: 40px;
      padding-left: 4px;
      &::placeholder {
        @include text(12px, 400, $form-color);
      }
      &:focus {
        border-color: inherit;
        box-shadow: none;
      }
      option {
        &:hover {
          background-color: red !important;
        }
      }
    }
    .input-group-append {
      .form-control {
        border-radius: 0 5px 5px 0;
      }
    }
    .btnbox {
      .btn {
        @include btn(10px, transparent, 14px, $primary-color);
        width: 100%;
        &:hover {
          @include btnHover(transparent);
        }
        &:focus {
          outline: none;
          box-shadow: none;
        }
      }
    }
    .sum {
      @include flexy-box-between();
      margin-top: 20px;
      font-size: 14px;
      .sum-count {
        font-weight: 600;
      }
    }
  }
}
.How-It-Works-wrapper {
  margin-top: 30px;
  background-color: $secondary-color;
  padding-top: 60px;
  padding-bottom: 80px;
  .title {
    margin-bottom: 40px;
    h1 {
      text-align: center;
      @include text(36px, 600, $text-color);
    }
  }
  .How-It-Works__items {
    .col-md-4 {
      padding-left: 0;
      padding-right: 0;
      .How-It-Works__item {
        border: 1px solid #e6e9ef;
        padding: 30px 60px;
        height: 100%;
        &:first-child,
        :nth-child(2) {
          border-right: none;
        }
        .imgBox {
          @include flexy-box();
          margin-bottom: 35px;
        }
        .title {
          margin-bottom: 15px;
          text-align: center;
          h4 {
            @include text(22px, 700, $text-color);
          }
        }
        .description {
          text-align: center;
          p {
            @include text(14px, 400, $text-color);
          }
        }
      }
    }
  }
}
