.intro {
  .slider {
    .slider-img-link {
      outline: none;
      img {
        border-radius: 5px;
      }
    }
  }
}
.How-It-Works-wrapper {
  margin-top: 30px;
  background-color: $secondary-color;
  padding-top: 60px;
  padding-bottom: 80px;
  .title {
    margin-bottom: 40px;
    h1 {
      text-align: center;
      @include text(36px, 600, $text-color);
      text-transform: uppercase;
    }
  }
  .How-It-Works__items {
    .col-md-4 {
      padding-left: 0;
      padding-right: 0;
      &:first-child,
      &:nth-child(2) {
        .How-It-Works__item {
          border-right: none;
        }
      }
      .How-It-Works__item {
        border: 1px solid #e6e9ef;
        padding: 30px 60px;
        height: 100%;
        .imgBox {
          @include flexy-box();
          margin-bottom: 35px;
        }
        .title {
          margin-bottom: 15px;
          text-align: center;
          h4 {
            @include text(22px, 700, $text-color);
          }
        }
        .description {
          text-align: center;
          p {
            @include text(14px, 400, $text-color);
          }
        }
      }
    }
  }
}
.tariffs {
  padding-top: 60px;
  .header {
    text-align: center;
    margin-bottom: 40px;
    h2 {
      @include text(36px, 600, $text-color);
      text-transform: uppercase;
    }
  }
}
.certificates {
  background-color: $secondary-color;
  margin-top: 70px;
  padding: 60px 0 80px;
  .header {
    text-align: center;
    h2 {
      @include text(36px, 600, $text-color);
      margin-bottom: 40px;
      text-transform: uppercase;
    }
  }
  .content {
    border: 1px solid $border-color;
    border-radius: 5px;
    padding: 30px;
    .imgBox {
      @include flexy-box();
      height: 100%;
    }
  }
}
.news {
  background-color: $secondary-color;
  margin-top: 30px;
  padding: 60px 0;
  .title {
    text-align: center;
    margin-bottom: 40px;
    h2 {
      @include text(36px, 600, $text-color);
      text-transform: uppercase;
    }
  }
  .news-card {
    position: relative;
    border-radius: 5px;
    overflow: hidden;
    img {
      border-radius: 5px;
      width: 100%;
    }
    &::after {
      content: "";
      position: absolute;
      background-image: -webkit-linear-gradient(
        90deg,
        #353333 0,
        rgba(0, 0, 0, 0) 100%
      );
      height: 140px;
      width: 100%;
      bottom: -20px;
      left: 0;
    }
    .card-caption {
      position: absolute;
      bottom: -5%;
      z-index: 2;
      padding: 10px 10px 5px;
      .caption-title {
        @include text(15px, 500, $secondary-color);
      }
      .caption-date {
        @include text(12px, 400, $secondary-color);
        .date {
          padding-left: 5px;
        }
      }
    }
  }
}
.recomendedShops {
  padding: 60px 0 30px;
  img {
    pointer-events: none;
    cursor: default;
    outline: none;
  }
}
.contact-wrapper {
  .contact-content {
    background-color: $secondary-color;
    padding: 60px 0 0;
    h1 {
      @include text(48px, 700, $text-color);
      margin-bottom: 20px;
    }
    .tab-content {
      margin-top: 25px;
      .tab-item {
        margin-top: 22px;
        i {
          font-size: 25px;
          color: $primary-color;
        }
      }
      .phone,
      .mail {
        display: flex;
        span {
          padding-left: 15px;
          font-size: 18px;
        }
      }
      .location {
        span {
          padding-left: 15px;
          font-size: 15px;
        }
      }
      .services {
        .service-item {
          display: flex;
          margin-bottom: 5px;
          h5 {
            @include text(18px, 700, $text-color);
          }
          span {
            padding-left: 15px;
          }
        }
      }
    }
    a.active {
      border-top: 3px solid $primary-color;
    }
    .nav-item {
      @include text(16px, 600, $link-color);
      padding: 15px 30px;
    }
    .question-box {
      h4 {
        @include text(23px, 700, $text-color);
      }
      .btn {
        @include btn(10px 16px, transparent, 14px, $primary-color);
        text-transform: uppercase;
        margin-top: 10px;
        &:hover {
          @include btnHover(transparent);
        }
        &:focus {
          outline: none;
          box-shadow: none;
        }
      }
    }
    .map-wrapper {
      margin-top: 60px;
    }
  }
}
.shops-wrapper {
  .shop-content {
    background-color: $secondary-color;
    padding: 60px 0;
    .country-box {
      border: 1px solid $border-color;
      border-radius: 10px;
      padding: 25px;
      h4 {
        position: relative;
        @include text(17px, 600, $primary-color);
        margin-bottom: 22px;
        &::before {
          content: "";
          height: 4px;
          position: absolute;
          width: 52px;
          left: 0;
          background-color: $primary-color;
          bottom: -15px;
        }
      }
      .countries {
        list-style-type: none;
        padding-left: 0;
        li {
          padding: 10px 0;
          span {
            @include text(16px, 400, $text-color);
            text-transform: capitalize;
            cursor: pointer;
          }
          .active {
            color: $primary-color;
            border-bottom: 1px solid $primary-color;
          }
        }
      }
    }
    .shop-content-header {
      margin-bottom: 15px;
      h2 {
        @include text(30px, 700, $text-color);
      }
    }
    a {
      color: $text-color;
      transition: all 0.3s;
      &:hover {
        color: $primary-color;
        text-decoration: none;
      }
    }
    .col-md-4 {
      margin-bottom: 15px;
    }
    .shop-box {
      background-color: #f9f9f8;
      border-radius: 10px;
      text-align: center;
      padding: 15px;
      margin-top: 15px;
      height: 100%;
      @include flexy-box();
      img {
        padding-bottom: 15px;
      }
    }
    .button-box {
      @include flexy-box();
      margin-top: 30px;
      .btn {
        @include btn(10px 25px, transparent, 15px, $primary-color);
        text-transform: uppercase;
        margin-top: 10px;
        &:hover {
          @include btnHover(transparent);
        }
        &:focus {
          outline: none;
          box-shadow: none;
        }
      }
    }
  }
}
.countries-wrapper {
  .countries-content {
    background-color: $secondary-color;
    padding: 60px 0;
  }
}
.calculator-wrapper {
  .calculator-content {
    background-color: $secondary-color;
    padding: 60px 0;
    .exchange-wrapper {
      background-color: $third-background-color;
      margin-top: 30px;
      border-radius: 10px;
      padding: 30px 15px 25px;
      .exchange-header {
        margin-bottom: 20px;
        h4 {
          @include text(16px, 600, $text-color);
        }
      }
      .form-control {
        @include text(13px, 400, $form-color);
        &::placeholder {
          @include text(15px, 400, $form-color);
        }
        &:focus {
          border-color: inherit;
          box-shadow: none;
        }
      }
      .form-control[type="number"] {
        @include text(15px, 400, $form-color);
      }
      .exchange-footer {
        @include flexy-box-between();
        margin-top: 15px;
        .footer-description {
          @include flexy-box();
          p {
            @include text(12px, 400, $third-text-color);
            margin-bottom: 0;
          }
        }
        .footer-btn {
          .btn {
            @include btn(7px 40px, transparent, 14px, $primary-color);
            text-transform: capitalize;
            transition: all 0.3s;
            &:hover {
              @include btnHover(transparent);
            }
            &:focus {
              outline: none;
              box-shadow: none;
            }
            &:active {
              transform: translateY(-5px);
            }
          }
        }
      }
    }
    .help-box {
      padding-left: 30px;
      p {
        @include text(15px, 400, $text-color);
      }
      .how-to-calculate {
        h4 {
          @include text(20px, 600, $text-color);
          margin: 35px 0 25px;
        }
      }
    }
  }
}

.rules-wrapper {
  .rules-content {
    background-color: $secondary-color;
    padding: 60px 0;
    .rules-content-header {
      margin-bottom: 20px;
      h2 {
        @include text(30px, 600, $text-color);
      }
    }
  }
}

.questions-wrapper {
  .questions-content {
    background-color: $secondary-color;
    padding: 60px 0;
    .questions-content-header {
      margin-bottom: 20px;
      h2 {
        @include text(30px, 600, $text-color);
      }
    }
  }
}

.about-wrapper {
  .about-content {
    background-color: $secondary-color;
    padding: 60px 0;
    .img-box {
      margin-bottom: 30px;
      img {
        border-radius: 10px;
      }
    }
  }
}

.privacy-wrapper {
  .privacy-content {
    background-color: $secondary-color;
    padding: 60px 0;
    .img-box {
      margin-bottom: 30px;
      img {
        border-radius: 10px;
      }
    }
  }
}

.advertisement--detail-wrapper {
  .advertisement--detail-content {
    background-color: $secondary-color;
    padding: 60px 0;
    .content-header {
      margin: 22px 0 15px;
      h3 {
        @include text(24px, 600, $text-color);
      }
      .date-area {
        @include text(14px, 400, $third-text-color);
        span {
          padding-left: 10px;
        }
      }
    }
  }
  .advertisement-box {
    border-bottom: 1px solid $third-border-color;
    padding-left: 10px;
    h4 {
      margin: 10px 0 16px;
      @include text(18px, 600, $second-link-color);
      cursor: pointer;
    }
    .date-area {
      @include text(14px, 400, $third-text-color);
      padding-bottom: 20px;
      span {
        padding-left: 10px;
      }
    }
  }
}

.register-wrapper {
  .register-content {
    padding-bottom: 50px;
    form {
      background-color: $secondary-color;
      padding: 57px 88px 80px;
      border-radius: 10px;
      .content-header {
        margin-bottom: 20px;
        h4 {
          @include text(16px, 500, $text-color);
        }
      }
      .content-box {
        .form-group {
          position: relative;
          margin-bottom: 1.5rem;
          .icon-box {
            position: absolute;
            right: 5%;
            top: 23%;
            cursor: pointer;
            color: $primary-color;
          }
        }
        .form-control {
          @include text(12px, 400, $form-color);
          border-radius: 5px;
          height: 40px;
          padding-left: 20px;
          &::placeholder {
            @include text(12px, 400, $form-color);
          }
          &:focus {
            border-color: $primary-color;
            box-shadow: none;
          }
        }
        .serial-number-input {
          &::-webkit-outer-spin-button,
          &::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
          }
          -moz-appearance: textfield;
        }
        ::-webkit-calendar-picker-indicator {
          cursor: pointer;
          border-radius: 4px;
          margin-right: 2px;
          opacity: 0.6;
          filter: invert(0.8);
          &:hover {
            opacity: 1;
            filter: invert(0);
          }
        }
        .submitBox {
          @include flexy-box-between();
          margin-top: 10px;
          .checkbox-wrapper {
            @include flexy-box();
            .check-label {
              margin-left: 10px;
              cursor: pointer;
              color: $second-link-color;
              border-bottom: 1px solid $second-link-color;
            }
            .checkmark {
              position: relative;
              display: block;
              width: 25px;
              height: 25px;
              background-color: $fourth-background-color;
              border-radius: 5px;
              cursor: pointer;
              transition: background-color 0.2s;
              &::after {
                content: "";
                position: absolute;
                width: 7px;
                height: 18px;
                border-right: 3px solid $secondary-color;
                border-bottom: 3px solid $secondary-color;
                top: 40%;
                left: 50%;
                transform: translate(-50%, -50%) rotateZ(40deg);
                opacity: 0;
              }
            }
            #check {
              &:checked ~ .checkmark {
                background-color: $primary-color;
                &::after {
                  opacity: 1;
                }
              }
            }
          }
          .btn {
            @include btn(10px 45px, $primary-color, 16px, $primary-color);
            text-transform: uppercase;
            &:hover {
              @include btnHover($primary-color);
            }
            &:focus {
              outline: none;
              box-shadow: none;
            }
          }
        }
      }
    }
    .info-wrapper {
      background-color: $secondary-color;
      padding: 40px 22px 90px;
      border-radius: 10px;
      height: 100%;
      h3 {
        @include text(28px, 500, $text-color);
        text-align: center;
        margin-bottom: 25px;
      }
      p {
        @include text(18px, 400, $text-color);
        margin-bottom: 25px;
        text-align: center;
      }
      .btnBox {
        @include flexy-box();
        margin-top: 30px;
        span {
          @include text(16px, 400, $primary-color);
          border-bottom: 1px solid $primary-color;
          cursor: pointer;
        }
      }
    }
  }
}

.login-wrapper {
  margin-bottom: 60px;
  .login-content {
    background-color: $secondary-color;
    border-radius: 10px;
    padding: 30px 250px;
    .login-content-body {
      label {
        @include text(13px, 400, $text-color);
      }
      .form-group {
        margin-bottom: 1.5rem;
      }
      .form-control {
        @include text(12px, 400, $form-color);
        border-radius: 5px;
        height: 40px;
        padding-left: 20px;
        &::placeholder {
          @include text(12px, 400, $form-color);
        }
        &:focus {
          border-color: $primary-color;
          box-shadow: none;
        }
      }
    }
    .login-content-footer {
      @include flexy-box-between();
      .checkbox-wrapper {
        .remmeber-me {
          display: flex;
          margin-bottom: 10px;
          .check-label {
            margin-left: 10px;
            cursor: pointer;
            font-size: 15px;
            margin-bottom: 0;
            @include flexy-box();
          }
          .checkmark {
            position: relative;
            display: block;
            width: 25px;
            height: 25px;
            background-color: $fourth-background-color;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.2s;
            margin-bottom: 0;
            &::after {
              content: "";
              position: absolute;
              width: 7px;
              height: 18px;
              border-right: 3px solid $secondary-color;
              border-bottom: 3px solid $secondary-color;
              top: 40%;
              left: 50%;
              transform: translate(-50%, -50%) rotateZ(40deg);
              opacity: 0;
            }
          }
          #check {
            &:checked ~ .checkmark {
              background-color: $primary-color;
              &::after {
                opacity: 1;
              }
            }
          }
        }
      }
      .link-box {
        a {
          @include text(14px, 400, $second-link-color);
          cursor: pointer;
          &:hover {
            text-decoration: underline;
          }
          &:last-child {
            padding-left: 10px;
          }
        }
      }
      .btnBox {
        .btn {
          @include flexy-box();
          @include btn(10px 45px, $primary-color, 16px, $primary-color);
          text-transform: uppercase;
          &:hover {
            @include btnHover($primary-color);
          }
          &:focus {
            outline: none;
            box-shadow: none;
          }
        }
      }
    }
  }
}

.forgot-password-wrapper {
  margin-bottom: 60px;
  .forgot-password-content {
    background-color: $secondary-color;
    border-radius: 10px;
    padding: 114px 30px 144px;
    .content-body {
      padding: 0 83px;
      .header {
        h1 {
          @include text(46px, 700, $text-color);
          margin-bottom: 15px;
        }
        p {
          @include text(14px, 400, $text-color);
        }
      }
    }
    .form-control {
      @include text(12px, 400, $form-color);
      border-radius: 5px;
      height: 40px;
      padding-left: 20px;
      &::placeholder {
        @include text(12px, 400, $form-color);
      }
      &:focus {
        border-color: $primary-color;
        box-shadow: none;
      }
    }
    .btnBox {
      margin-top: 20px;
      .btn {
        @include btn(10px 25px, $primary-color, 16px, $primary-color);
        text-transform: uppercase;
        &:hover {
          @include btnHover($primary-color);
        }
        &:focus {
          outline: none;
          box-shadow: none;
        }
      }
    }
    .content-image {
      height: 100%;
      .img-box {
        @include flexy-box();
        height: 100%;
      }
    }
  }
}

.make-order-wrapper {
  margin-bottom: 60px;
  .order-content-wrapper {
    background-color: $secondary-color;
    border-radius: 10px;
    padding: 100px 135px;
  }
  .order-content {
    margin-top: 30px;
    .content-bottom {
      margin-top: 20px;
    }
    .form-control {
      @include text(12px, 400, $form-color);
      border-radius: 5px;
      height: 40px;
      padding-left: 20px;
      &::placeholder {
        @include text(12px, 400, $form-color);
      }
      &:focus {
        border-color: $primary-color;
        box-shadow: none;
      }
      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
      -moz-appearance: textfield;
    }
    .input-group {
      .form-control {
        border-radius: 0;
        text-align: center;
      }
    }
  }
  .btnBox {
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
    .btn {
      @include btn(10px 20px, $primary-color, 13px, $primary-color);
      text-transform: uppercase;
      &:hover {
        @include btnHover($primary-color);
      }
      &:focus {
        outline: none;
        box-shadow: none;
      }
    }
    .btn-delete {
      @include btn(10px 20px, $error-color, 13px, $error-color);
      text-transform: uppercase;
      &:focus {
        outline: none;
        box-shadow: none;
      }
    }
  }
  .payment-box {
    background-color: $secondary-color;
    border-radius: 10px;
    padding: 72px 30px;
    .payment-header {
      text-align: center;
      margin-bottom: 25px;
      h4 {
        @include text(18px, 500, $text-color);
      }
    }
    .payment-content {
      .form-check {
        &:nth-child(2) {
          margin: 10px 0;
        }
        .form-check-label {
          @include text(16px, 400, $text-color);
          cursor: pointer;
        }
      }
      .sum {
        @include flexy-box-between();
      }
    }
    .payment-footer {
      margin-top: 20px;
      .checkbox-wrapper {
        display: flex;
        .check-label {
          margin-left: 10px;
          cursor: pointer;
          color: $second-link-color;
          border-bottom: 1px solid $second-link-color;
          font-size: 13px;
        }
        .checkmark {
          position: relative;
          display: block;
          width: 20px;
          height: 20px;
          background-color: $fourth-background-color;
          border-radius: 5px;
          cursor: pointer;
          transition: background-color 0.2s;
          &::after {
            content: "";
            position: absolute;
            width: 6px;
            height: 13px;
            border-right: 3px solid $secondary-color;
            border-bottom: 3px solid $secondary-color;
            top: 40%;
            left: 50%;
            transform: translate(-50%, -50%) rotateZ(40deg);
            opacity: 0;
          }
        }
        #check {
          &:checked ~ .checkmark {
            background-color: $primary-color;
            &::after {
              opacity: 1;
            }
          }
        }
      }
      .btnBox {
        margin-top: 20px;
        .btn {
          @include btn(10px 20px, transparent, 13px, $primary-color);
          text-transform: uppercase;
          width: 100%;
          &:hover {
            @include btnHover(transparent);
          }
          &:focus {
            outline: none;
            box-shadow: none;
          }
        }
      }
    }
  }
}

.reset-password-wrapper {
  margin-bottom: 60px;
  .reset-content {
    background-color: $secondary-color;
    border-radius: 10px;
    padding: 30px 250px;
    .reset-content-body {
      label {
        @include text(13px, 400, $text-color);
      }
      .form-group {
        margin-bottom: 1.5rem;
      }
      .form-control {
        @include text(12px, 400, $form-color);
        border-radius: 5px;
        height: 40px;
        padding-left: 20px;
        &::placeholder {
          @include text(12px, 400, $form-color);
        }
        &:focus {
          border-color: $primary-color;
          box-shadow: none;
        }
      }
    }
    .reset-content-footer {
      .btnBox {
        .btn {
          @include flexy-box();
          @include btn(10px 45px, $primary-color, 16px, $primary-color);
          text-transform: uppercase;
          &:hover {
            @include btnHover($primary-color);
          }
          &:focus {
            outline: none;
            box-shadow: none;
          }
        }
      }
    }
  }
}

.verify-email-wrapper {
  margin-bottom: 80px;
  .verify-email-content {
    background-color: $secondary-color;
    border-radius: 10px;
    padding: 80px;
    text-align: center;
    h2 {
      @include text(60px, 600, $primary-color);
    }
    h4 {
      @include text(30px, 600, $primary-color);
    }
    p {
      @include text(15px, 400, $text-color);
    }
    .btnBox {
      margin-top: 20px;
      .btn {
        @include btn(10px 45px, transparent, 16px, $primary-color);
        text-transform: uppercase;
        &:hover {
          @include btnHover(transparent);
        }
        &:focus {
          outline: none;
          box-shadow: none;
        }
      }
    }
  }
}

.user-panel-wrapper {
  margin-bottom: 60px;
  .user-panel-content {
    .balance-box {
      position: relative;
      height: 100%;
      img {
        height: 100%;
      }
      .balance-content {
        position: absolute;
        top: 15%;
        padding: 0 15px;
        .balance-text {
          .header {
            @include text(18px, 600, $secondary-color);
          }
          .balance-count {
            .count {
              @include text(45px, 700, $secondary-color);
            }
          }
          .balance-description {
            @include flexy-box-between();
            .description-text {
              @include text(15px, 400, $secondary-color);
              width: 70%;
              margin-bottom: 0;
              .span {
                font-weight: 600;
              }
            }
            p {
              margin-bottom: 0;
            }
            .balance-btn {
              display: flex;
              align-items: flex-end;
              .btnBox {
                margin-top: 20px;
                .btn {
                  padding: 10px;
                  font-size: 14px;
                  font-weight: 500;
                  border: 1px solid $secondary-color;
                  color: $secondary-color;
                  background-color: transparent;
                  text-transform: uppercase;
                  transition: all 0.5s;
                  &:hover {
                    background-color: $secondary-color;
                    color: $text-color;
                  }
                  &:focus {
                    outline: none;
                    box-shadow: none;
                  }
                }
              }
            }
          }
        }
      }
    }
    .wallet-box {
      background-color: $secondary-color;
      padding: 30px;
      border-radius: 10px;
    }
  }
}
.balance-wrapper {
  margin-bottom: 60px;
  .balance-body {
    @include flexy-box();
    .balance-box {
      position: relative;
      .balance-content {
        position: absolute;
        padding: 10px;
        top: 12%;
        .balance-text {
          .header {
            @include text(18px, 600, $secondary-color);
          }
          .balance-count {
            .count {
              @include text(45px, 700, $secondary-color);
            }
          }
          .balance-description {
            @include flexy-box-between();
            .description-text {
              @include text(15px, 400, $secondary-color);
              margin-bottom: 0;
            }
            .strong-text {
              font-weight: 600;
            }
            .balance-btn {
              display: flex;
              align-items: flex-end;
              .btnBox {
                margin-top: 20px;
                .btn {
                  padding: 10px;
                  font-size: 14px;
                  font-weight: 500;
                  border: 1px solid $secondary-color;
                  color: $secondary-color;
                  background-color: transparent;
                  text-transform: uppercase;
                  transition: all 0.5s;
                  &:hover {
                    background-color: $secondary-color;
                    color: $text-color;
                  }
                  &:focus {
                    outline: none;
                    box-shadow: none;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  .increase-balance-wrapper {
    background-color: $secondary-color;
    border-radius: 10px;
    padding: 30px;
    @include flexy-box();
    height: 100%;
    .increase-balance-content {
      text-align: center;
      h4 {
        @include text(20px, 500, $text-color);
        margin-bottom: 30px;
      }
      .form-control {
        @include text(12px, 400, $form-color);
        border-radius: 5px;
        height: 40px;
        padding-left: 20px;
        &::placeholder {
          @include text(12px, 400, $form-color);
        }
        &:focus {
          border-color: $primary-color;
          box-shadow: none;
        }
        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
          -webkit-appearance: none;
          margin: 0;
        }
        -moz-appearance: textfield;
      }
      .btnBox {
        .btn {
          @include btn(10px 20px, transparent, 13px, $primary-color);
          text-transform: uppercase;
          width: 100%;
          border-radius: 5px;
          &:hover {
            @include btnHover(transparent);
          }
          &:focus {
            outline: none;
            box-shadow: none;
          }
        }
      }
      .description {
        margin-top: 15px;
      }
    }
  }
}

.write-question-wrapper {
  margin-bottom: 60px;
  .write-question-content {
    background-color: $secondary-color;
    padding: 50px;
    border-radius: 10px;
    .header {
      margin-bottom: 25px;
    }
    .subject {
      .form-control {
        @include text(12px, 400, $form-color);
        border-radius: 5px;
        height: 40px;
        padding-left: 20px;
        &::placeholder {
          @include text(12px, 400, $form-color);
        }
        &:focus {
          border-color: $primary-color;
          box-shadow: none;
        }
      }
    }
    .content {
      .form-control {
        @include text(12px, 400, $form-color);
        border-radius: 5px;
        padding-left: 20px;
        &::placeholder {
          @include text(12px, 400, $form-color);
        }
        &:focus {
          border-color: $primary-color;
          box-shadow: none;
        }
      }
    }
    .btnBox {
      .btn {
        @include btn(10px 20px, transparent, 13px, $primary-color);
        text-transform: uppercase;
        &:hover {
          @include btnHover(transparent);
        }
        &:focus {
          outline: none;
          box-shadow: none;
        }
      }
    }
  }
}

.settings-wrapper {
  margin-bottom: 60px;
  .content {
    .form-control {
      @include text(12px, 400, $form-color);
      border-radius: 5px;
      padding-left: 20px;
      &::placeholder {
        @include text(12px, 400, $form-color);
      }
      &:focus {
        border-color: $primary-color;
        box-shadow: none;
      }
    }
    .btnBox {
      .btn {
        @include btn(10px 20px, transparent, 13px, $primary-color);
        text-transform: uppercase;
        &:hover {
          @include btnHover(transparent);
        }
        &:focus {
          outline: none;
          box-shadow: none;
        }
      }
    }
  }
}

.parcels-wrapper {
  margin-bottom: 60px;
  .btn {
    @include btn(5px 20px, transparent, 13px, $primary-color);
    text-transform: uppercase;
    &:hover {
      @include btnHover(transparent);
    }
    &:focus {
      outline: none;
      box-shadow: none;
    }
  }
}

.courier-wrapper {
  margin-bottom: 60px;
  .courier-content {
    background-color: $secondary-color;
    border-radius: 10px;
    padding: 30px 30px 55px;
    .header {
      margin-bottom: 30px;
    }
    .form-control {
      @include text(12px, 400, $form-color);
      border-radius: 5px;
      padding-left: 20px;
      &::placeholder {
        @include text(12px, 400, $form-color);
      }
      &:focus {
        border-color: $primary-color;
        box-shadow: none;
      }
    }
    .btnBox {
      margin-top: 20px;
      .btn {
        @include btn(10px 20px, transparent, 13px, $primary-color);
        text-transform: uppercase;
        &:hover {
          @include btnHover(transparent);
        }
        &:focus {
          outline: none;
          box-shadow: none;
        }
      }
    }
    label {
      @include text(14px, 400, $text-color);
    }
    .description {
      margin-top: 20px;
      p {
        @include text(14px, 600, $text-color);
        margin-bottom: 5px;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}

.address-wrapper {
  margin-bottom: 60px;
}

.settings-wrapper {
  .k-widget.k-datepicker {
    width: 100%;
    .k-picker-wrap.k-picker-wrap {
      border-radius: 5px;
    }
  }
  .MuiGrid-root {
    display: block;
    .MuiFormControl-root {
      margin-top: 0;
      margin-bottom: 0;
      width: 100%;
      label {
        display: none;
      }
      .MuiInputBase-root {
        margin-top: 0;
      }
      .MuiInput-underline {
        &:hover {
          &:not(.Mui-disabled) {
            &::before {
              border-bottom: 1px solid $form-color !important;
            }
          }
        }
        &:after {
          border-bottom: 2px solid $primary-color;
        }
      }
    }
  }
}

.payment-btn {
  background: transparent !important;
  border: 1px solid $primary-color !important;
  padding: 5px 20px !important;
  box-shadow: none !important;
  transition: all 0.5s !important;
  &:hover {
    background-color: $primary-color !important;
    span {
      color: $secondary-color !important;
    }
  }
  span {
    transition: all 0.5s !important;
    background-image: none !important;
    color: $primary-color !important;
    font-family: $primary-font;
    display: inline-block !important;
    height: 30px;
    line-height: initial !important;
    box-shadow: none !important;
    text-shadow: none !important;
    border-radius: 4px;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    font-weight: 400 !important;
    font-size: 13px !important;
  }
}

.download-wrapper {
  .btn {
    @include btn(10px 20px, transparent, 13px, $primary-color);
    margin-bottom: 20px;
    text-transform: uppercase;
    &:hover {
      @include btnHover(transparent);
    }
    &:focus {
      outline: none;
      box-shadow: none;
    }
    i {
      padding-left: 5px;
    }
  }
}
