.intro {
  .slider {
    .slider-img-link {
      outline: none;
      img {
        border-radius: 5px;
      }
    }
  }
}
.How-It-Works-wrapper {
  margin-top: 30px;
  background-color: $secondary-color;
  padding-top: 60px;
  padding-bottom: 80px;
  .title {
    margin-bottom: 40px;
    h1 {
      text-align: center;
      @include text(36px, 600, $text-color);
      text-transform: uppercase;
    }
  }
  .How-It-Works__items {
    .col-md-4 {
      padding-left: 0;
      padding-right: 0;
      &:first-child,
      &:nth-child(2) {
        .How-It-Works__item {
          border-right: none;
        }
      }
      .How-It-Works__item {
        border: 1px solid #e6e9ef;
        padding: 30px 60px;
        height: 100%;
        .imgBox {
          @include flexy-box();
          margin-bottom: 35px;
        }
        .title {
          margin-bottom: 15px;
          text-align: center;
          h4 {
            @include text(22px, 700, $text-color);
          }
        }
        .description {
          text-align: center;
          p {
            @include text(14px, 400, $text-color);
          }
        }
      }
    }
  }
}
.tariffs {
  padding-top: 60px;
  .header {
    text-align: center;
    margin-bottom: 40px;
    h2 {
      @include text(36px, 600, $text-color);
      text-transform: uppercase;
    }
  }
}
.certificates {
  background-color: $secondary-color;
  margin-top: 70px;
  padding: 60px 0 80px;
  .header {
    text-align: center;
    h2 {
      @include text(36px, 600, $text-color);
      margin-bottom: 40px;
      text-transform: uppercase;
    }
  }
  .content {
    border: 1px solid $border-color;
    border-radius: 5px;
    padding: 30px;
    .imgBox {
      @include flexy-box();
      height: 100%;
    }
  }
}
.news {
  background-color: $secondary-color;
  margin-top: 30px;
  padding: 60px 0;
  .title {
    text-align: center;
    margin-bottom: 40px;
    h2 {
      @include text(36px, 600, $text-color);
      text-transform: uppercase;
    }
  }
  .news-card {
    position: relative;
    border-radius: 5px;
    overflow: hidden;
    img {
      border-radius: 5px;
      width: 100%;
    }
    &::after {
      content: "";
      position: absolute;
      background-image: -webkit-linear-gradient(
        90deg,
        #353333 0,
        rgba(0, 0, 0, 0) 100%
      );
      height: 140px;
      width: 100%;
      bottom: -20px;
      left: 0;
    }
    .card-caption {
      position: absolute;
      bottom: -5%;
      z-index: 2;
      padding: 10px 10px 5px;
      .caption-title {
        @include text(15px, 500, $secondary-color);
      }
      .caption-date {
        @include text(12px, 400, $secondary-color);
        .date {
          padding-left: 5px;
        }
      }
    }
  }
}
.recomendedShops {
  padding: 60px 0 30px;
  img {
    pointer-events: none;
    cursor: default;
    outline: none;
  }
}
.contact-wrapper {
  .contact-content {
    background-color: $secondary-color;
    padding: 60px 0 0;
    h1 {
      @include text(48px, 700, $text-color);
      margin-bottom: 20px;
    }
    .tab-content {
      margin-top: 25px;
      .tab-item {
        margin-top: 22px;
        i {
          font-size: 25px;
          color: $primary-color;
        }
      }
      .phone,
      .mail {
        display: flex;
        span {
          padding-left: 15px;
          font-size: 18px;
        }
      }
      .location {
        span {
          padding-left: 15px;
          font-size: 15px;
        }
      }
      .services {
        .service-item {
          display: flex;
          margin-bottom: 5px;
          h5 {
            @include text(18px, 700, $text-color);
          }
          span {
            padding-left: 15px;
          }
        }
      }
    }
    a.active {
      border-top: 3px solid $primary-color;
    }
    .nav-item {
      @include text(16px, 600, $link-color);
      padding: 15px 30px;
    }
    .question-box {
      h4 {
        @include text(23px, 700, $text-color);
      }
      .btn {
        @include btn(10px 16px, transparent, 14px, $primary-color);
        text-transform: uppercase;
        margin-top: 10px;
        &:hover {
          @include btnHover(transparent);
        }
        &:focus {
          outline: none;
          box-shadow: none;
        }
      }
    }
    .map-wrapper {
      margin-top: 60px;
    }
  }
}
.shops-wrapper {
  .shop-content {
    background-color: $secondary-color;
    padding: 60px 0;
    .country-box {
      border: 1px solid $border-color;
      border-radius: 10px;
      padding: 25px;
      h4 {
        position: relative;
        @include text(17px, 600, $primary-color);
        margin-bottom: 22px;
        &::before {
          content: "";
          height: 4px;
          position: absolute;
          width: 52px;
          left: 0;
          background-color: $primary-color;
          bottom: -15px;
        }
      }
      .countries {
        list-style-type: none;
        padding-left: 0;
        li {
          padding: 10px 0;
          span {
            @include text(16px, 400, $text-color);
            text-transform: capitalize;
            cursor: pointer;
          }
          .active {
            color: $primary-color;
            border-bottom: 1px solid $primary-color;
          }
        }
      }
    }
    .shop-content-header {
      margin-bottom: 15px;
      h2 {
        @include text(30px, 700, $text-color);
      }
    }
    a {
      color: $text-color;
      transition: all 0.3s;
      &:hover {
        color: $primary-color;
        text-decoration: none;
      }
    }
    .col-md-4 {
      margin-bottom: 15px;
    }
    .shop-box {
      background-color: #f9f9f8;
      border-radius: 10px;
      text-align: center;
      padding: 15px;
      margin-top: 15px;
      height: 100%;
      @include flexy-box();
      img {
        padding-bottom: 15px;
      }
    }
    .button-box {
      @include flexy-box();
      margin-top: 30px;
      .btn {
        @include btn(10px 25px, transparent, 15px, $primary-color);
        text-transform: uppercase;
        margin-top: 10px;
        &:hover {
          @include btnHover(transparent);
        }
        &:focus {
          outline: none;
          box-shadow: none;
        }
      }
    }
  }
}
.countries-wrapper {
  .countries-content {
    background-color: $secondary-color;
    padding: 60px 0;
  }
}
.calculator-wrapper {
  .calculator-content {
    background-color: $secondary-color;
    padding: 60px 0;
    .exchange-wrapper {
      background-color: $third-background-color;
      margin-top: 30px;
      border-radius: 10px;
      padding: 30px 15px 25px;
      .exchange-header {
        margin-bottom: 20px;
        h4 {
          @include text(16px, 600, $text-color);
        }
      }
      .form-control {
        @include text(13px, 400, $form-color);
        &::placeholder {
          @include text(15px, 400, $form-color);
        }
        &:focus {
          border-color: inherit;
          box-shadow: none;
        }
      }
      .form-control[type="number"] {
        @include text(15px, 400, $form-color);
      }
      .exchange-footer {
        @include flexy-box-between();
        margin-top: 15px;
        .footer-description {
          @include flexy-box();
          p {
            @include text(12px, 400, $third-text-color);
            margin-bottom: 0;
          }
        }
        .footer-btn {
          .btn {
            @include btn(7px 40px, transparent, 14px, $primary-color);
            text-transform: capitalize;
            transition: all 0.3s;
            &:hover {
              @include btnHover(transparent);
            }
            &:focus {
              outline: none;
              box-shadow: none;
            }
            &:active {
              transform: translateY(-5px);
            }
          }
        }
      }
    }
    .help-box {
      padding-left: 30px;
      p {
        @include text(15px, 400, $text-color);
      }
      .how-to-calculate {
        h4 {
          @include text(20px, 600, $text-color);
          margin: 35px 0 25px;
        }
      }
    }
  }
}

.rules-wrapper {
  .rules-content {
    background-color: $secondary-color;
    padding: 60px 0;
    .rules-content-header {
      margin-bottom: 20px;
      h2 {
        @include text(30px, 600, $text-color);
      }
    }
  }
}

.questions-wrapper {
  .questions-content {
    background-color: $secondary-color;
    padding: 60px 0;
    .questions-content-header {
      margin-bottom: 20px;
      h2 {
        @include text(30px, 600, $text-color);
      }
    }
  }
}

.about-wrapper {
  .about-content {
    background-color: $secondary-color;
    padding: 60px 0;
    .img-box {
      margin-bottom: 30px;
      img {
        border-radius: 10px;
      }
    }
  }
}

.privacy-wrapper {
  .privacy-content {
    background-color: $secondary-color;
    padding: 60px 0;
    .img-box {
      margin-bottom: 30px;
      img {
        border-radius: 10px;
      }
    }
  }
}

.advertisement--detail-wrapper {
  .advertisement--detail-content {
    background-color: $secondary-color;
    padding: 60px 0;
    .content-header {
      margin: 22px 0 15px;
      h3 {
        @include text(24px, 600, $text-color);
      }
      .date-area {
        @include text(14px, 400, $third-text-color);
        span {
          padding-left: 10px;
        }
      }
    }
  }
  .advertisement-box {
    border-bottom: 1px solid $third-border-color;
    padding-left: 10px;
    h4 {
      margin: 10px 0 16px;
      a {
        @include text(18px, 600, $second-link-color);
        &:hover {
          text-decoration: none;
        }
      }
    }
    .date-area {
      @include text(14px, 400, $third-text-color);
      padding-bottom: 20px;
      span {
        padding-left: 10px;
      }
    }
  }
}
