.intro {
  .slider {
    .slider-img-link {
      outline: none;
      img {
        border-radius: 5px;
      }
    }
  }
  .calculator {
    background-color: $secondary-color;
    border-radius: 10px;
    padding: 25px 15px;
    .calculator-title {
      display: flex;
      justify-content: space-between;
      margin-bottom: 25px;
      h4 {
        @include text(22px, 600, $text-color);
      }
      .btn {
        color: $third-text-color;
        font-size: 14px;
        margin-bottom: 0.5rem;
      }
    }
    .form-control {
      @include text(12px, 400, $form-color);
      border-radius: 5px;
      height: 40px;
      padding-left: 4px;
      &::placeholder {
        @include text(12px, 400, $form-color);
      }
      &:focus {
        border-color: inherit;
        box-shadow: none;
      }
      option {
        &:hover {
          background-color: red !important;
        }
      }
    }
    .input-group-append {
      .form-control {
        border-radius: 0 5px 5px 0;
      }
    }
    .btnbox {
      .btn {
        @include btn(10px, transparent, 14px, $primary-color);
        width: 100%;
        &:hover {
          @include btnHover(transparent);
        }
      }
    }
    .sum {
      display: flex;
      justify-content: space-between;
      margin-top: 20px;
      font-size: 14px;
      .sum-count {
        font-weight: 600;
      }
    }
  }
}
