body {
  background-color: $background-color;
  font-family: $primary-font;
  #spinner {
    .spinner-box {
      padding-top: 15%;
      .text-primary-color {
        color: $primary-color;
      }
    }
  }
  .breadcrumb {
    background-color: transparent;
    margin-bottom: 0;
    padding: 0;
    .breadcrumb-item {
      a {
        color: $primary-color;
        text-transform: capitalize;
        &:hover {
          text-decoration: none;
        }
      }
      span {
        text-transform: capitalize;
        pointer-events: none;
        cursor: default;
      }
    }
  }
}
