body {
  background-color: $background-color;
  font-family: $primary-font;

  /* Spinner styles start */
  .spinner {
    z-index: 10;
    background-color: #fff;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
  }
  .spinner-box {
    transform: translateY(90%);
    height: 50%;
    .text-primary-color {
      color: $primary-color;
    }
  }
  /* Spinner styles end */

  /* Breadcrumb styles start */
  .breadcrumb {
    background-color: transparent;
    margin-bottom: 0;
    padding: 0;
    .breadcrumb-item {
      a {
        color: $primary-color;
        text-transform: capitalize;
        &:hover {
          text-decoration: none;
        }
      }
      span {
        text-transform: capitalize;
        pointer-events: none;
        cursor: default;
      }
    }
  }
  /* Breadcrumb styles end */

  /* Banner styles start */
  .banner-wrapper {
    .banner-header {
      padding: 30px 0;
      h4 {
        @include text(23px, 400, $text-color);
        text-transform: uppercase;
      }
      .banner-header-wrapper {
        @include flexy-box-between();
      }
    }
  }
  /* Banner styles start */

  /* Tabs styles start */
  .content {
    .tab-content {
      background-color: $secondary-color;
      padding: 30px;
    }
    a.active {
      border-top: 3px solid $primary-color !important;
    }
    .nav-tabs {
      .nav-link {
        border-top-left-radius: none !important;
        border-top-right-radius: none !important;
        @include text(16px, 600, $link-color);
        padding: 15px 30px;
      }
    }
    .tab-header {
      display: flex;
      .title {
        @include flexy-box();
        padding-left: 30px;
        h4 {
          @include text(22px, 600, $text-color);
        }
      }
    }
    .tab-main {
      .type {
        margin-top: 40px;
        .type-title {
          h5 {
            @include text(16px, 600, $text-color);
          }
        }
        ul {
          list-style-type: none;
          padding-left: 0;
          li {
            @include flexy-box-between();
            padding: 10px 0;
            border-bottom: 1px dashed $border-color;
            .tariff-title {
              @include text(16px, 400, $text-color);
            }
            .tariff-price {
              @include text(20px, 600, $second-text-color);
            }
          }
        }
      }
    }
    .tab-description {
      margin-top: 50px;
      p {
        @include text(14px, 400, $text-color);
        line-height: 28px;
      }
    }
  }
  /* Tabs styles end */

  /* Calculator styles start */
  .calculator {
    background-color: $secondary-color;
    border: 1px solid $border-color;
    border-radius: 10px;
    padding: 25px 15px;
    .calculator-title {
      @include flexy-box-between();
      margin-bottom: 25px;
      h4 {
        @include text(22px, 600, $text-color);
      }
      .btn {
        color: $third-text-color;
        font-size: 14px;
        margin-bottom: 0.5rem;
        &:focus {
          outline: none;
          box-shadow: none;
        }
      }
    }
    .form-control {
      @include text(12px, 400, $form-color);
      border-radius: 5px;
      height: 40px;
      padding-left: 4px;
      &::placeholder {
        @include text(12px, 400, $form-color);
      }
      &:focus {
        border-color: inherit;
        box-shadow: none;
      }
      option {
        &:hover {
          background-color: red !important;
        }
      }
    }
    .input-group-append {
      .form-control {
        border-radius: 0 5px 5px 0;
      }
    }
    .btnbox {
      .btn {
        @include btn(10px, transparent, 14px, $primary-color);
        width: 100%;
        &:hover {
          @include btnHover(transparent);
        }
        &:focus {
          outline: none;
          box-shadow: none;
        }
        &:active {
          transform: translateY(-5px);
        }
      }
    }
    .sum {
      @include flexy-box-between();
      margin-top: 20px;
      font-size: 14px;
      .sum-count {
        font-weight: 600;
      }
    }
  }
  /* Calculator styles end */

  /* Section box styles start */
  .section-box {
    border: 1px solid $border-color;
    border-radius: 10px;
    padding: 25px 25px 5px;
    h4 {
      position: relative;
      @include text(17px, 600, $primary-color);
      margin-bottom: 22px;
      &::before {
        content: "";
        height: 4px;
        position: absolute;
        width: 52px;
        left: 0;
        background-color: $primary-color;
        bottom: -15px;
      }
    }
    .sections {
      list-style-type: none;
      padding-left: 0;
      li {
        padding: 10px 0;
        a {
          @include text(16px, 400, $text-color);
          text-transform: capitalize;
          cursor: pointer;
          &:hover {
            text-decoration: none;
          }
        }
        .active {
          color: $primary-color;
          border-bottom: 1px solid $primary-color;
        }
      }
    }
  }
  /* Section box styles end */

  /* Accordion styles start */
  .accordion__section {
    display: flex;
    flex-direction: column;
    .accordion {
      background-color: $secondary-color;
      color: #444;
      cursor: pointer;
      padding: 25px;
      display: flex;
      align-items: center;
      border: none;
      outline: none;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      border-bottom: 3px solid $third-background-color;
      transition: background-color 0.6s ease;
      .accordion__title {
        font-weight: 600;
        font-size: 14px;
        text-align: left;
        margin-bottom: 0;
      }
      .accordion__icon {
        margin-left: auto;
        transition: transform 0.6s ease;
      }
      .rotate {
        transform: rotate(90deg);
      }
    }
    .active {
      background-color: $third-background-color;
      border-bottom: none;
    }
    .accordion__content {
      background-color: $third-background-color;
      overflow: hidden;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      transition: max-height 0.6s ease;
      .accordion__text {
        font-weight: 400;
        font-size: 14px;
        padding: 18px;
      }
    }
  }
  /* Accordion styles end */

  #rule-modal {
    .overlay {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.7);
      z-index: 10;
    }
    .rule-modal-wrapper {
      width: 30%;
      position: fixed;
      overflow-y: scroll;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: $secondary-color;
      z-index: 10;
      border-radius: 10px;
      max-height: 500px;
      -webkit-animation-name: animatetop;
      -webkit-animation-duration: 0.4s;
      animation-name: animatetop;
      animation-duration: 0.4s;
      .rule-modal-header {
        @include flexy-box-between();
        border-bottom: 1px solid $border-color;
        padding: 15px 30px;
        .icon-box {
          i {
            cursor: pointer;
            font-size: 20px;
          }
        }
      }
      .rule-modal-body {
        padding: 15px 30px;
      }
      .rule-modal-footer {
        padding: 0 30px 15px;
      }
    }
  }
  .error-message {
    position: absolute;
    margin-bottom: 0;
    @include text(13px, 500, $error-color);
  }
  .success-message-wrapper {
    @include flexy-box();
    background-color: $secondary-color;
    border-radius: 10px;
    padding: 100px 30px;
    .success-message-content {
      text-align: center;
      h4 {
        @include text(30px, 500, $text-color);
        line-height: 50px;
        .email-text {
          color: $primary-color;
        }
      }
      .timer-wrapper {
        @include flexy-box();
        color: $error-color;
        .timer-text {
          padding-right: 8px;
        }
      }
    }
  }
  .panels-body {
    .exchange-wrapper {
      text-align: center;
      background-color: $secondary-color;
      margin-top: 30px;
      border-radius: 10px;
      padding: 30px 15px 25px;
      .exchange-header {
        margin-bottom: 20px;
        h4 {
          @include text(16px, 600, $text-color);
        }
      }
      .form-control {
        @include text(13px, 400, $form-color);
        &::placeholder {
          @include text(15px, 400, $form-color);
        }
        &:focus {
          border-color: inherit;
          box-shadow: none;
        }
      }
      .form-control[type="number"] {
        @include text(15px, 400, $form-color);
      }
      .exchange-footer {
        text-align: center;
        margin-top: 15px;
        .footer-description {
          @include flexy-box();
          p {
            @include text(12px, 400, $third-text-color);
            margin-bottom: 0;
          }
        }
        .footer-btn {
          margin-top: 10px;
          .btn {
            @include btn(7px 40px, transparent, 14px, $primary-color);
            text-transform: capitalize;
            transition: all 0.3s;
            &:hover {
              @include btnHover(transparent);
            }
            &:focus {
              outline: none;
              box-shadow: none;
            }
            &:active {
              transform: translateY(-5px);
            }
          }
        }
      }
    }
  }
  .panels-wrapper {
    background-color: $secondary-color;
    border-radius: 10px;
    padding: 25px 35px 5px;
    .panels-content {
      .panels {
        list-style-type: none;
        padding-left: 0;
        li {
          position: relative;
          padding: 10px 0;
          a {
            @include text(16px, 400, $third-text-color);
            text-transform: capitalize;
            cursor: pointer;
            padding-left: 10px;
            &:hover {
              text-decoration: none;
            }
          }
          .active-panel {
            color: $primary-color;
          }
          .panel-1 {
            &::before {
              font-family: "Font Awesome 5 Free";
              font-weight: 900;
              content: "\f009";
              position: absolute;
              left: -5%;
            }
          }
          .panel-2 {
            &::before {
              font-family: "Font Awesome 5 Free";
              font-weight: 900;
              content: "\f3c5";
              position: absolute;
              left: -5%;
            }
          }
          .panel-3 {
            &::before {
              font-family: "Font Awesome 5 Free";
              font-weight: 900;
              content: "\f49e";
              position: absolute;
              left: -7%;
            }
          }
          .panel-4 {
            &::before {
              font-family: "Font Awesome 5 Free";
              font-weight: 900;
              content: "\f155";
              position: absolute;
              left: -5%;
            }
          }
          .panel-5 {
            &::before {
              font-family: "Font Awesome 5 Free";
              font-weight: 900;
              content: "\f4ce";
              position: absolute;
              left: -7%;
            }
          }
          .panel-6 {
            &::before {
              font-family: "Font Awesome 5 Free";
              font-weight: 900;
              content: "\f059";
              position: absolute;
              left: -7%;
            }
          }
          .panel-7 {
            &::before {
              font-family: "Font Awesome 5 Free";
              font-weight: 900;
              content: "\f1de";
              position: absolute;
              left: -7%;
            }
          }
        }
        .panel-8 {
          @include text(16px, 400, $third-text-color);
          text-transform: capitalize;
          cursor: pointer;
          padding-left: 10px;
          &:hover {
            text-decoration: none;
          }
          &::before {
            font-family: "Font Awesome 5 Free";
            font-weight: 900;
            content: "\f2f5";
            position: absolute;
            left: -7%;
          }
        }
      }
    }
  }

  .actions {
    background-color: $secondary-color;
    padding: 30px;
    border-radius: 10px;
    margin-top: 30px;
    .table {
      thead {
        th {
          border-bottom-width: 1px;
        }
      }
    }
  }
  .pagination {
    .page-item {
      cursor: pointer;
      .page-link {
        color: $primary-color;
        border-color: $primary-color;
        transition: all 0.3s;
        &:hover {
          background-color: $primary-color;
          color: $secondary-color;
        }
      }
    }
    .disabled {
      cursor: default;
      .page-link {
        background-color: $primary-color;
        color: $secondary-color;
      }
    }
  }

  .transaction-table {
    .btn {
      @include btn(10px 20px, transparent, 13px, $primary-color);
      text-transform: uppercase;
      &:hover {
        @include btnHover(transparent);
      }
      &:focus {
        outline: none;
        box-shadow: none;
      }
    }
  }
  .transaction-detail-content {
    p {
      @include text(18px, 600, $text-color);
      span {
        @include text(16px, 400, $text-color);
        padding-left: 5px;
      }
    }
  }
}

@-webkit-keyframes animatetop {
  from {
    top: -300px;
  }
  to {
    top: 50%;
  }
}

@keyframes animatetop {
  from {
    top: -300px;
  }
  to {
    top: 50%;
  }
}
